@import '../../../styles//variables.scss';

.inputWrapper {
    position: relative;
    width: 100%;
    background: $lightGray;
    color: $gray;  
}
.input{
    width: 100%;
    height: 54px;
    border-radius: 4px;
    padding-left: 16px;
    border: 1px solid #D0CFCF;
    background-color: $lightGray;
}
.inputLabel {
    position: absolute;
    top: 13px;
    left: 16px;
    transition: .5s;
    pointer-events: none;
}
.helpers {
    position: absolute;
    bottom: -20px;
    left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7E7E7E;
    z-index: 10;
}
.errorInput{
    border-color: #CB3D40;
}
.error{
    color: #CB3D40;
}
.hover {  
    top: -9px;
    font-size: 12px;
    background-color: $lightGray;      
}