.radio {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-self: start;
    margin-top: -6px;
}
.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.label {
    display: flex;
    gap: 12px;
}
.field {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

